
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tod Argent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Books, writing, musings.">
    <meta name="author" content="Tod Argent">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="resource/default/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="resource/css/font-awesome.min.css" rel="stylesheet">
    <link href="resource/css/bootswatch.css" rel="stylesheet">
    <link href="resource/css/styles.css" rel="stylesheet">

  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">

  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="index.html">Tod Argent</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><a href="books.html">Books</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
       </div>
     </div>
   </div>
 </div>

    <div class="container">


   <div data-sw-view="">
      <!-- Silk view content goes here -->
    </div>


<br><br><br><br>

     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
        </div>
        Copyright (c) 2013.
      </footer>

    </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="resource/js/jquery.smooth-scroll.min.js"></script>
    <script src="resource/js/bootstrap.min.js"></script>
    <script src="resource/js/bootswatch.js"></script>


  </body>
</html>
