section {
  margin-top: 10px;
  padding-top: 20px;
}

.subhead > div:first-child {
  min-height: 60px;
}

ul.article-list {
  list-style: none;
}

ul.article-summary-links {
  list-style: none;
}

ul.article-summary-links li {
  display: inline;
}

ul.article-summary-links li + li:before{
  content: " | ";
  padding: 0 10px;
}