<html>
  <body>
    <div class="row">
    <div class="span6">
    <h2>Latest news</h2>
    <ul class="article-list">
        <li class="well">
          <a data-sw-text="title" data-sw-href="path" href="#">placeholder for title</a>
          <br />
          <div data-sw-text="body">placeholder for body</div>
          <ul class="article-summary-links">
            <li><a data-sw-href="amazon-url" href="#">Amazon</a></li>
            <li><a data-sw-href="lulu-url" href="#">Lulu</a></li>
          </ul>
        </li>
    </ul>
  </div>
  </div>
  </body>
</html>
