<html>
  <body>
    <!-- Masthead
    ================================================== -->
    <header class="jumbotron subhead" id="overview">
      <div class="row">
        <div class="span6">
          <h1>Tod Argent</h1>
        </div>
      </div>
    </header>

    <section>
      <h2>About the author.</h2>
      <p>
        Tinker Tailor Soldier Sailor Teacher and late entrant author.  Now he has granchildren he has a reason to publish his stories.
      </p>
    </section>
  </body>
</html>
