<html>
  <body>
    <!-- Masthead
    ================================================== -->
    <header class="jumbotron subhead" id="overview">
      <div class="row">
        <div class="span6">
          <h1>Tod Argent</h1>
        </div>
      </div>
    </header>

    <section>
      Welcome reader, here I've listed my writings, thoughts and anything else I think you may find interesting!
    </section>

    <div data-sw-component="news" data-sw-source="news" data-sw-sort="published-date">
      Placeholder for new widget
    </div>
  </body>
</html>
